BASE_URL=http://localhost:8080

VUS=1
MAX_DURATION=10m
LOAD_ALL_DATA_MAX_DURATION=60m
GRACEFUL_STOP=30s
SETUP_TIMEOUT=10m

LOG_REQUESTS=false

DISCOVER_PAGE_LIMIT=1000
MAX_DISCOVERED_IDS=0

ENDPOINT_GET_SHELLS=true
ENDPOINT_GET_SHELLS_REQUESTS=10

ENDPOINT_GET_SHELL_BY_ID=true
ENDPOINT_GET_SHELL_BY_ID_REQUESTS=10

ENDPOINT_GET_ASSET_INFORMATION=true
ENDPOINT_GET_ASSET_INFORMATION_REQUESTS=10

ENDPOINT_GET_SUBMODEL_REFERENCES=true
ENDPOINT_GET_SUBMODEL_REFERENCES_REQUESTS=10

ENDPOINT_GET_SHELL_DESCRIPTORS=true
ENDPOINT_GET_SHELL_DESCRIPTORS_REQUESTS=10

ENDPOINT_GET_SHELL_DESCRIPTOR_BY_ID=true
ENDPOINT_GET_SHELL_DESCRIPTOR_BY_ID_REQUESTS=10

ENDPOINT_GET_SUBMODEL_DESCRIPTORS=true
ENDPOINT_GET_SUBMODEL_DESCRIPTORS_REQUESTS=10

ENDPOINT_GET_SUBMODEL_DESCRIPTOR_BY_ID=true
ENDPOINT_GET_SUBMODEL_DESCRIPTOR_BY_ID_REQUESTS=10

ENDPOINT_GET_SUBMODELS=false
ENDPOINT_GET_SUBMODELS_REQUESTS=10

ENDPOINT_GET_SUBMODEL_BY_ID=true
ENDPOINT_GET_SUBMODEL_BY_ID_REQUESTS=10

ENDPOINT_LOAD_ALL_DATA=true
ENDPOINT_LOAD_ALL_DATA_REQUESTS=1

K6_WEB_DASHBOARD=true
K6_WEB_DASHBOARD_EXPORT=results/k6-summary-report.html
